$color-fuente:white; 
$tipo-fuente: Helvetica;
$barra-lateral: #2850A7;
body{
    margin: 1px;
}
.col{
    background-color : #3367d6 ;
    color: $color-fuente;
    text-align: end;
    }

.col-2 {
    position: absolute;
    top: 0px;
    padding-bottom: 40%;
    text-indent: 30px;
    font-family: $tipo-fuente;
    color: $color-fuente;
    background-color: $barra-lateral;
}
 .navbar-item{
    list-style: none;
}    